table {
    border-collapse: collapse;
    width: 100%;
    border: none;
    /* Remove border from the entire table */
}

td {
    padding: 8px;
    border: none;
    /* Remove all cell borders */
    text-align: center;
    vertical-align: middle;
}

th:not(:first-child),
td:not(:first-child) {
    border-left: 1px solid #f00;
    /* Add left border to all columns except the first one */
}